// All nav elements should get a grey border when hovered
.hero .hero-head .nav-item:hover {
  border-bottom: 1px solid $grey-light;
}

// For each color scheme, make "active" the invert
.hero.is-primary .hero-head .nav-item.is-active {
  border-bottom: 2px solid $primary-invert;
}
.hero.is-info .hero-head .nav-item.is-active {
  border-bottom: 2px solid $info-invert;
}
.hero.is-success .hero-head .nav-item.is-active {
  border-bottom: 2px solid $success-invert;
}
.hero.is-warning .hero-head .nav-item.is-active {
  border-bottom: 2px solid $warning-invert;
}
.hero.is-danger .hero-head .nav-item.is-active {
  border-bottom: 2px solid $danger-invert;
}
.hero.is-light .hero-head .nav-item.is-active {
  border-bottom: 2px solid $light-invert;
}
.hero.is-dark .hero-head .nav-item.is-active {
  border-bottom: 2px solid $dark-invert;
}
.hero.is-info .hero-head .nav-item.is-active {
  border-bottom: 2px solid $info-invert;
}
