@import "../../../node_modules/bulma/sass/utilities/variables";

// All nav elements should get a grey border when hovered
.hero .hero-head .nav-item:hover {
  border-bottom: 2px solid $grey;
}

// For each color scheme, make "active" the invert
.hero.is-primary .hero-head .nav-item.is-active {
  border-bottom: 2px solid $primary-invert;
}

.hero.is-info .hero-head .nav-item.is-active {
  border-bottom: 2px solid $info-invert;
}

.hero.is-success .hero-head .nav-item.is-active {
  border-bottom: 2px solid $success-invert;
}

.hero.is-warning .hero-head .nav-item.is-active {
  border-bottom: 2px solid $warning-invert;
}

.hero.is-danger .hero-head .nav-item.is-active {
  border-bottom: 2px solid $danger-invert;
}

.hero.is-light .hero-head .nav-item.is-active {
  border-bottom: 2px solid $light-invert;
}

.hero.is-dark .hero-head .nav-item.is-active {
  border-bottom: 2px solid $dark-invert;
}

.hero.is-info .hero-head .nav-item.is-active {
  border-bottom: 2px solid $info-invert;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('https://images.unsplash.com/1/iphone-4-closeup.jpg?dpr=1&auto=format&crop=middle&fit=crop&w=2000&h=700&q=80');
}

.panel-block {
  font-size: $size-small;
}

.sb-listing-title a {
  color: inherit;
}

.sb-listing-synopsis {
  font-size: $size-small;
  font-weight: lighter;
}

.sb-listing-timeago {
  font-size: $size-small;
  width: 8rem;
  text-align: right;
}

.sb-listing-table {
  tr {
    height: 5rem;

    td {
      border: none;
    }
  }
}

.sb-portlet-primary {
  .panel-heading {
    background-color: $primary;
    color: $primary-invert;
  }
}

.sb-portlet-info {
  .panel-heading {
    background-color: $info;
    color: $info-invert;
  }
}

.sb-portlet-success {
  .panel-heading {
    background-color: $success;
    color: $success-invert;
  }
}

.sb-portlet-warning {
  .panel-heading {
    background-color: $warning;
    color: $warning-invert;
  }
}

.sb-portlet-danger {
  .panel-heading {
    background-color: $danger;
    color: $danger-invert;
  }
}

.sb-portlet-light {
  .panel-heading {
    background-color: $light;
    color: $light-invert;
  }
}

.sb-portlet-dark {
  .panel-heading {
    background-color: $dark;
    color: $dark-invert;
  }
}

.sb-portlet-info {
  .panel-heading {
    background-color: $info;
    color: $info-invert;
  }
}

.sb_sidenav {
  font-size: $size-small;
}