@import "../../node_modules/bulma/sass/utilities/initial-variables";

$family-primary: $family-sans-serif;

.nav-item .button + .button {
  margin-left: 10px;
}

$info: $turquoise;

@import "../../node_modules/bulma/bulma";

