@import "../../node_modules/bulma/sass/utilities/initial-variables";

$family-primary: $family-sans-serif;
$color-invert: $blue;
$primary: $turquoise;

@import "../../node_modules/bulma/bulma";

@import "scss/_main";
@import "homepage/_homepage";
@import "article/_article";
@import "logo/_logo";
